#updated::before{
    content: "";
    background-size: cover;
    background-position: center;
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    z-index: -3;
  }
  
  #updated::after{
    content: "";
    background-color: var(--blue);
    position: fixed;
    inset: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.70;
    z-index: -2;
  }
  
  #updated{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: calc(100vh - 77px);
    padding: 0rem 1rem;
    font-size: 3rem;
  }

/* Responsive Section */
@media screen and (max-width:870px) {
  #updated {
    font-size: 1.5rem;
  }
}

@media screen and (max-width:450px) {
  #updated {
    font-size: 1rem;
  }
}